/* styles.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(8, 60px); /* 8 columnas de 60px */
  grid-template-rows: repeat(8, 60px);    /* 8 filas de 60px */
  border: 4px solid #222;
}

.casilla {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;       /* tamaño para los emojis */
}

.blanca {
  background-color: #f0d9b5;
}

.negra {
  background-color: #b58863;
}

#acciones {
  margin-top: 20px;
  text-align: center;
}

#btn-juego {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

